<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>To Refresh Our Life</title>
</head>

<body>

  <div class="row">
    <div class="col s12">
      <!-- Navbar -->
      <% include ./partials/navbar %>
    </div>

    <div class="col s12 m4 l2">
      <!-- Upload -->
      <h6 style="color: red">
        <%= typeof msg != 'undefined' ? msg : '' %>
      </h6>
      <form action="/home" method="POST" enctype="multipart/form-data">
        <h5>Upload photo</h5>
        <br><br>
        <div class="left-align">
          Caption
          <input type="text" name="caption">
        </div>
        <div class="file-field input-field ch-file">
          <div class="btn-small grey darken-5"">
              <input type="file" name="img">
            <span>...</span>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

        <div class="input-field col left-align">
          <select name="TagId">
            <option value="" disabled selected>Choose tag</option>
            <option value="1">Anger</option>
            <option value="2">Contempt</option>
            <option value="3">Disgust</option>
            <option value="4">Fear</option>
            <option value="5">Happiness</option>
            <option value="6">Neutral</option>
            <option value="7">Sadness</option>
            <option value="8">Surprise</option>
          </select>
          <label>Tag</label>
        </div>

        <div class="right-align">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>

    <div class="col s12 m4 l8">
      <!-- All Post -->
      <div class="post">
        <% data.forEach(post => { %>
        <h3>
          <%= post.caption %>
        </h3>
        <p>posted by:
          <%= post.User.first_name + ' ' + post.User.last_name %>
        </p>
        <img class="responsive-img" src="<%= post.path_directory.slice(7) %>">
        <% }) %>
      </div>
    </div>

    <div class="col s12 m4 l2">
      <form action="/home/byTag" method="POST">
        <h5>Search by Tag: </h5>
        <div class="input-field col left-align">
          <select name="tag_name">
            <option value="anger">Anger</option>
            <option value="contempt">Contempt</option>
            <option value="disgust">Disgust</option>
            <option value="fear">Fear</option>
            <option value="happiness">Happiness</option>
            <option value="neutral">Neutral</option>
            <option value="sadness">Sadness</option>
            <option value="surprise">Surprise</option>
          </select>
        </div>
        <div class="right-align">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>

      <div>
        <form action="/home/faceRecognition" method="POST">
          <p>Want to know more</p>
          <label>input your picture here</label>
          <input name="link">
          <div class="right-align">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <% include ./partials/script %>
</body>

</html>